﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Paws & Claws Animal Clinic</h1>
    <h2>Veterinarian clinic</h2>
    <img style="width:90vw;" src="https://t3.ftcdn.net/jpg/06/81/19/04/360_F_681190410_wiydR0Bug5l2hhV7UgifdDCDWvftzQaO.jpg" />
    <!--APA Citation: Rodríguez, F. Á. (2018, November 15). blue body of water in front of building near trees during nighttime. Unsplash. https://unsplash.com/photos/blue-body-of-water-in-front-of-building-near-trees-during-nighttime-M7GddPqJowg-->
</div>